@-webkit-keyframes love {
    to { -webkit-transform: scale(1.1); }
}

@-moz-keyframes love {
    to { -moz-transform: scale(1.1); }
}

@keyframes love {
    to { transform: scale(1.1); }
}

a.not-doted {
    border: none;
}

ul {
    list-style: none;
}

img.polaroid {
    background: #fff;
    margin: 0 0 27px 30px;
    padding: 10px 10px 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}


.heart {
    font-size: 1.4em;
    color: #ff79c6;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
}
